* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #5f57d1, #c065c0);
}

h1 {
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-weight: 300;
}

.input-section {
  display: flex;
  justify-content: center;
  position: relative;
}
input {
  padding: 0.4rem 4.5rem;
  position: relative;
}
.fa-plus {
  position: absolute;
  font-size: 8px;
  top: 16%;
  left: 55%;
  border: 1px solid #fff;
  background: rgb(214, 106, 214);
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.categories {
  margin: 0 1rem;
}

.item.active {
  color: yellow;
  background: blue;
}

/* list */
.list-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 5rem;
}
.lists {
  width: 100%;
  margin: 1rem 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*hide list */
.lists .list.hide {
  display: none;
}
.lists .list.show {
  animation: animate 0.4s ease;
}
@keyframes amimate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.list {
  width: 50%;
  border: 1px solid #222;
  height: 35px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  margin: 3px;
  text-align: center;
  align-items: center;
}
p.text {
  margin: 0.5rem 3rem;
}
.buttons {
  width: 20%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fa-trash,
.fa-check-circle {
  font-size: 36px;
  margin: 1px;
  cursor: pointer;
}
.list i.co:hover {
  cursor: pointer;
}
.fa-circle-thin::before {
  font-size: 16px;
  border: 1px solid #fff;
  padding: 5px;
  background: rgb(100, 187, 19);
  color: #fff;
}
.fa-check-circle {
  color: #fff;

  background: rgb(100, 187, 19);
  padding: 5px;
  font-weight: 500;
}
.fa-trash {
  color: #fff;
  border: 1px solid rgb(185, 45, 45);
  background: rgb(185, 45, 45);
  padding: 5px;
}

/* completed items */
.completedItem {
  text-decoration: line-through;
  opacity: 0.5;
  transform: scale(0.96);
}

/* delete the task */
.fall {
  transform: translateY(4em) scale(0.4) rotate(20deg);
  opacity: 0;
}

.lineThrough {
  text-decoration: line-through;
  color: #ccc;
}
